<h1>{{profileName}}</h1>
<hr/>
<div class='container'>
	<form class="form-horizontal">

		<div ng-switch on='editing'>
			<div ng-switch-when='true'>

				<div ng-repeat="field in fields">
			
					<div class="form-group">
						<label for="{{field.title}}">{{field.title}}</label>
						<input type="string" class="form-control" id="{{field.title}}" placeholder="{{field.value !== '' ? field.value : field.placeholder}}" ng-model="field.value">
					</div>
					<hr/>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default" ng-click="update()">Submit Updates</button>
					<button type="button" class="btn btn-default" ng-click="cancelUpdate()">Cancel Updates</button>
				</div>

  			</div>

  			<div ng-switch-when='false'>

  				<div ng-repeat="field in fields">
			
					<!-- <div class="form-group"> -->
						<h3>{{field.title}}:</h3> <p> {{field.value}}</p>
					<!-- </div> -->
					<hr/>
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-default" ng-click="edit()">Edit Profile</button>
				</div>

  			</div> 
		</div>

	</form>
</div>