<h1>{{profileName}}</h1>
<hr/>
<div class='container'>
	<form class="form-horizontal">

		<div ng-switch on='editing'>
			<div ng-switch-when='true'>

				<div ng-repeat="field in fields">
			
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon">{{field.title}}</span>
						<input type="string" class="form-control" id="{{field.title}}" placeholder="{{field.value !== '' ? field.value : field.placeholder}}" ng-model="field.value" aria-describedby="basic-addon">
					</div>
					<hr/>
				</div>

				<div class="form-group">
					<div class="row">
						<button type="submit" class="btn btn-default" ng-click="update()">Submit Updates</button>
						<button type="button" class="btn btn-default" ng-click="cancelUpdate()">Cancel Updates</button>
					</div>
				</div>
  			</div>

  			<div ng-switch-when='false'>

  				<div ng-repeat="field in fields">
				
					<div class="panel panel-default">
						<div class="panel-heading">{{field.title}}</div>
						<div class="panel-body">{{field.value}}</div>
					</div>
					
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-default" ng-click="edit()">Edit Profile</button>
				</div>

  			</div> 
		</div>

	</form>
</div>